<div class="container">
<h3 class="card-header mb-2 font-weight-bold mb-5 pt-4">Recent Articles
  <button class="btn btn-md mt-0 btn-outline-info float-right" style="border-radius: 30%;" name="reload"  (click)="reloadBlogs()" [disabled]="loadingBlogs">
    <i class="fas fa-sync-alt fa-lg" [ngClass]="reloadClass"></i>&nbsp;&nbsp; Reload</button>
</h3>

<div class="row show-hide-message" *ngIf="message">
  <div  [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<!--Section: Blog v.1-->
<section class="py-4 text-center text-lg-left">

  <!--Grid row-->
  <div class="row border-bottom mt-3" *ngFor="let article of articles; let position = index; let even = even; let odd=odd; let last = last">

   
      <!--Grid column-->
      <div class="col-lg-5 col-xl-5 pb-3" *ngIf="even">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2 waves-light" [routerLink]="['/blog/article/',article._id]" mdbWavesEffect>
              <img src="{{article.thumbnail}}"  alt="Sample image for first version of blog listing"
                  class="img-fluid">
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
      </div>
      <!--Grid column-->
      
      <!--Grid column-->
      <div class="col-lg-7 col-xl-7" *ngIf="even">
          <!--Excerpt-->
          <a [routerLink]="['/blog/category/',article.category]" class="green-text">
              <h6 class="font-weight-bold pb-1">
                  <i class="fab fa-buromobelexperte"></i> {{article.category}}</h6>
          </a>
          <h3 class="mb-1 font-weight-bold dark-grey-text">
              <strong>{{article.title | truncate:80}}</strong>
          </h3>
          <p >{{article.description | truncate : 260 }}</p>
          
          <p >by <a [routerLink]="['/user/',article.createdBy.username]"><strong>{{article.createdBy.username}}</strong></a>
              , {{article.createdAt | date:'MMMM dd yyyy'}}  &nbsp;&nbsp; <i class="fas fa-eye green-text"></i>&nbsp;&nbsp;{{article.views}}</p>
              <a class="btn btn-info mt-0 btn-sm  waves-light" [routerLink]="['/blog/article/',article._id]" mdbWavesEffect>Read more</a>
              
      </div>
      <!--Grid column-->
    
      
                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7 pb-3 clearfix" *ngIf="odd">
                      <!--Excerpt-->
                      <a [routerLink]="['/blog/category/',article.category]" class="pink-text">
                        <h6><i class="fab fa-buromobelexperte"></i> {{article.category}}</h6>
                      </a>
                      
                      <h3 class="mb-1 font-weight-bold dark-grey-text">
                          <strong>{{article.title | truncate:80}}</strong>
                      </h3>
                      <p >{{article.description | truncate : 260}}</p>
                      <p>by
                        <a [routerLink]="['/user/',article.createdBy.username]"><strong>{{article.createdBy.username}}</strong></a>, {{article.createdAt | date:'MMMM dd yyyy'}} &nbsp;&nbsp; <i class="fas fa-eye pink-text"></i>&nbsp;&nbsp;{{article.views}}</p>
                        
                      <a class="btn btn-pink btn-sm  waves-light" [routerLink]="['/blog/article/',article._id]" mdbWavesEffect>Read more</a>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-5 col-xl-5 pb-3" *ngIf="odd" >
                      <!--Featured image-->
                      <div class="view overlay rounded z-depth-2 waves-light" [routerLink]="['/blog/article/',article._id]" mdbWavesEffect>
                          <img src="{{article.thumbnail}}"  alt="Second image in the first version of blog listing"
                              class="img-fluid">
                          <a>
                              <div class="mask rgba-white-slight"></div>
                          </a>
                      </div>
                  </div>
                  <!--Grid column-->
                  
  </div>
  <!--Grid row-->
</section>
<!--Section: Blog v.1-->

<!--div >
  <div class="card border-dark">
    <div class="card-header">
      <h4 class="card-title">Post Title</h4>
    </div>
    <div class="card-body">
        
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>

        <div class="card-footer">
          <p><strong>Posted By : </strong>&nbsp; Yashdeep Raj</p>
          <p><strong>Date : </strong>&nbsp; June 30, 2018</p>
          <div>
              <p><strong>Likes : </strong>&nbsp; 205</p>
              <p><strong>Dislikes : </strong>&nbsp; 20</p>
          </div>
            <a href="#"><button class="btn btn-sm btn-info">Edit</button></a>
            <a href="#"><button class="btn btn-sm btn-danger">Delete</button></a>
          
              <div class="dropdown">
                <button class="btn btn-sm btn-success"><i class="fas fa-thumbs-up"></i>&nbsp; Likes : 21</button>
                <div class="dropdown-content">
                  <a class="dropdown-item" href="#">David Acousta</a>
                  <a class="dropdown-item" href="#">Someone ELse</a>
                  <a class="dropdown-item" href="#">Try this way</a>
                </div>
              </div>
              
              <div class="dropdown">
                <button class="btn btn-sm btn-warning"><i class="fas fa-thumbs-down"></i>&nbsp; Dislikes : 12</button>
                <div class="dropdown-content">
                  <a class="dropdown-item" href="#">David Acousta</a>
                  <a class="dropdown-item" href="#">Someone ELse</a>
                  <a class="dropdown-item" href="#">Try this way</a>
                </div>
              </div>
        </div>
       

        <ul class="list-group">
          <li class="list-group-item">
           
            <button class="btn btn-sm btn-danger" (click)="draftComment()">Post Comment</button>
            <!-- Reply Logged IN -->
            <!-- <section class="md-form">

              <div class="card-header border-0 font-weight-bold">Leave a reply (logged in user)</div>
    
              <div class="d-md-flex flex-md-fill px-1">
                <div class="d-flex justify-content-center mr-md-5 mt-md-5 mt-4">
                  <img class="card-img-100 z-depth-1 rounded-circle"  src="https://mdbootstrap.com/img/Photos/Avatars/img (32).jpg" alt="avatar">
                </div>
                <div class="md-form w-100">
                  <textarea class="form-control md-textarea pt-0" id="exampleFormControlTextarea1" rows="5" placeholder="Write something here..."></textarea>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-default btn-rounded btn-md waves-effect waves-light" >Submit</button>
              </div>
    
            </section>
             
            <section class="">

            
              <div class="card-header border-0 font-weight-bold">Leave a reply</div>
    
              
              <form>
    
                <div class="d-md-flex flex-md-fill">
    
                  <div class="md-form input-group input-group-md px-2 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text md-addon pr-4" id="basic-addon9"><i class="fa fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control mt-0 pl-0" placeholder="Username" aria-describedby="basic-addon9">
                  </div>
                  <div class="md-form input-group input-group-md px-2 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text md-addon pr-4" id="basic-addon10"><i class="fa fa-at"></i></span>
                      </div>
                      <input type="text" class="form-control mt-0 pl-0" placeholder="Email" aria-describedby="basic-addon10">
                  </div>
                  <div class="md-form input-group input-group-md px-2 mb-4">
                      <div class="input-group-prepend">
                          <span class="input-group-text md-addon pr-4" id="basic-addon101"><i class="fa fa-code"></i></span>
                      </div>
                      <input type="text" class="form-control mt-0 pl-0" placeholder="Website" aria-describedby="basic-1">
                  </div>
    
                </div>
    
                <div class="md-form input-group mt-0 px-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text align-items-start md-addon pr-4"><i class="fa fa-pencil"></i></span>
                  </div>
                  <textarea class="form-control md-textarea pl-0" rows="5" placeholder="Write something here" aria-describedby="with-textarea"></textarea>
                </div>
    
                <div class="text-center mt-4">
                  <button class="btn btn-default btn-rounded btn-md waves-effect waves-light">Submit</button>
                </div>
    
              </form>
             
    
            </section> 
              
          </li>
        </ul>

  </div>
</div>
</div-->